service: aws-la
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs14.x
  region: us-east-1
  environment:
    tableName: ${self:custom.tableName}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "*"

custom:
  tableName: CredituPlayers

functions:
  createPlayer:
    handler: src/addPlayer.addPlayer
    events:
      - httpApi:
          path: /player
          method: post
  getPlayers:
    handler: src/getPlayers.getPlayers
    events:
      - httpApi:
          path: /player
          method: get
  getPlayerId:
    handler: src/getPlayerId.getPlayerId
    events:
      - httpApi:
          path: /player/{Id}
          method: get
  updtePlayer:
    handler: src/putPlayer.putPlayer
    events:
      - httpApi:
          path: /player/{Id}
          method: put
  
  deletePlayer:
    handler: src/deletePlayer.deletePlayer
    events:
      - httpApi:
          path: /player/{Id}
          method: delete
        

resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tableName}
        AttributeDefinitions:
          - AttributeName: Id
            AttributeType: N
        KeySchema:
          - AttributeName: Id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
# plugins:
#   - serverless-webpack
	
# plugins:
#   - serverless-middleware
